openapi: 3.1.0
info:
  title: Parsec API
  version: 0.9.0
  description: |
    Parsec REST API.

    Success responses return the resource directly (no envelope).
    Error responses use HTTP status codes and a JSON body of the form `{ "error": "...", "code": "...", "retryable": true|false }`.
servers:
  - url: https://api.parsecapi.com
    description: Production
security:
  - ApiKeyAuth: []
tags:
  - name: Authentication
  - name: Exchanges
  - name: Markets
  - name: Orderbook
  - name: Price
  - name: Trades
  - name: Events
  - name: WebSocket
  - name: Orders
  - name: Positions
  - name: Account
  - name: Approvals
  - name: Wallet
paths:
  /api/v1/exchanges:
    get:
      operationId: listExchanges
      tags:
        - Exchanges
      summary: List exchanges available to the authenticated customer
      description: Returns exchange capability objects available to the authenticated customer.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExchangeCapability"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/markets:
    get:
      operationId: listUnifiedMarkets
      tags:
        - Markets
      summary: List unified markets with filtering and pagination
      description: |
        Provide either `exchanges` (CSV) or `parsec_ids` (CSV).
        When `parsec_ids` is provided, other filters are not allowed.
      parameters:
        - name: exchanges
          in: query
          required: false
          description: |
            Exchanges to query. In SDKs this is typically an array encoded as CSV on the wire.
            Required unless `parsec_ids` is provided.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: parsec_ids
          in: query
          required: false
          description: |
            Parsec market IDs to fetch directly (format: `{exchange}:{native_id}`).
            In SDKs this is typically an array encoded as CSV on the wire.
            Required unless `exchanges` is provided.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          required: false
          description: "Status filter (e.g., active, closed, resolved, archived)."
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: Keyword search in question/description (case-insensitive).
          schema:
            type: string
        - name: group_id
          in: query
          required: false
          description: Source-native exchange event/group ID filter (exact match).
          schema:
            type: string
        - name: event_id
          in: query
          required: false
          description: Canonical Parsec event ID filter (exact match).
          schema:
            type: string
        - name: min_volume
          in: query
          required: false
          description: Minimum volume filter.
          schema:
            type: number
            format: double
        - name: min_liquidity
          in: query
          required: false
          description: Minimum liquidity filter.
          schema:
            type: number
            format: double
        - name: limit
          in: query
          required: false
          description: Results per page (default 100).
          schema:
            type: integer
            format: int32
            default: 100
            minimum: 1
        - name: cursor
          in: query
          required: false
          description: Pagination cursor (offset-based).
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"

  /api/v1/orderbook:
    get:
      operationId: getOrderbook
      tags:
        - Orderbook
      summary: Get live L2 orderbook or historical snapshots
      description: "When start_ts or end_ts is provided, returns historical orderbook snapshots instead of a live L2 snapshot. Large time ranges are handled via internal chunking and may be slow for very wide windows. In historical mode, limit defaults to 500 (max 1000). Historical data is tier-gated: Free=5d, Pro=30d, Scale=unlimited."
      parameters:
        - name: parsec_id
          in: query
          required: true
          description: Unified market ID in format `{exchange}:{native_id}`.
          schema:
            type: string
        - name: outcome
          in: query
          required: false
          description: |
            Outcome selector. For binary markets this is typically "yes" or "no" (case-insensitive).
            For categorical markets, this is required and may be an outcome label or numeric index.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Max depth per side (default 50; server clamps to 1..=100).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - name: depth
          in: query
          required: false
          description: Alias for `limit` (REST/WS symmetry).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
        - name: start_ts
          in: query
          required: false
          description: "Unix seconds — when present, switches to historical mode (returns snapshots instead of live book)."
          schema:
            type: integer
        - name: end_ts
          in: query
          required: false
          description: "Unix seconds — end of time range. Defaults to now."
          schema:
            type: integer
        - name: cursor
          in: query
          required: false
          description: "Opaque pagination cursor for historical mode."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderbookResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"


  /api/v1/price:
    get:
      operationId: getPrice
      tags:
        - Price
      summary: Get historical OHLCV candlesticks for a unified market
      description: "Returns an array of candlesticks with timestamps at period start (UTC). Historical data is tier-gated: Free=5d, Pro=30d, Scale=unlimited."
      parameters:
        - name: parsec_id
          in: query
          required: true
          description: Unified market ID in format `{exchange}:{native_id}`.
          schema:
            type: string
        - name: outcome
          in: query
          required: false
          description: |
            Outcome selector. For binary markets this is typically "yes" or "no" (case-insensitive).
            For categorical markets, this is required and may be an outcome label or numeric index.
          schema:
            type: string
        - name: interval
          in: query
          required: false
          description: "Defaults to 1h for point-in-time (at_ts)"
          schema:
            type: string
            enum:
              - "1m"
              - "1h"
              - "6h"
              - "1d"
              - "1w"
              - "max"
        - name: start_ts
          in: query
          required: false
          description: Unix seconds start timestamp (inclusive). If omitted, the server selects a default range based on `interval`.
          schema:
            type: integer
            format: int64
        - name: end_ts
          in: query
          required: false
          description: Unix seconds end timestamp (inclusive). Defaults to now.
          schema:
            type: integer
            format: int64
        - name: at_ts
          in: query
          required: false
          description: "Point-in-time lookup (Unix seconds). Returns the single closest candle. Cannot be combined with start_ts/end_ts."
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"

  /api/v1/trades:
    get:
      operationId: getTrades
      tags:
        - Trades
      summary: Get recent public trades ("tape") for a unified market outcome
      description: "Returns an array of recent trades for the requested market+outcome (normalized prices 0.0-1.0). Historical data is tier-gated: Free=5d, Pro=30d, Scale=unlimited."
      parameters:
        - name: parsec_id
          in: query
          required: true
          description: Unified market ID in format `{exchange}:{native_id}`.
          schema:
            type: string
        - name: outcome
          in: query
          required: false
          description: |
            Outcome selector. For binary markets this is typically "yes" or "no" (case-insensitive).
            For categorical markets, this is required and may be an outcome label or numeric index.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Max number of trades (default 200; server clamps to 1..=500).
          schema:
            type: integer
            format: int32
            default: 200
            minimum: 1
            maximum: 500
        - name: start_ts
          in: query
          required: false
          description: Unix seconds start timestamp (inclusive).
          schema:
            type: integer
            format: int64
        - name: end_ts
          in: query
          required: false
          description: Unix seconds end timestamp (inclusive).
          schema:
            type: integer
            format: int64
        - name: cursor
          in: query
          required: false
          description: Opaque pagination cursor from a previous response.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradesResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
  /api/v1/events:
    get:
      operationId: listEvents
      tags:
        - Events
      summary: List events (market groups) with filtering and pagination
      description: |
        Aggregates markets by event ID from the Silver cache.
        Returns event summaries sorted by total volume (descending).
        Markets without an event_id are excluded.
      parameters:
        - name: exchanges
          in: query
          required: false
          description: |
            Exchanges to include (CSV). Defaults to all exchanges in the cache.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: search
          in: query
          required: false
          description: Keyword search in event title (case-insensitive).
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: "Status filter (e.g., active, closed, resolved, archived)."
          schema:
            type: string
        - name: min_volume
          in: query
          required: false
          description: Minimum total volume across all markets in event.
          schema:
            type: number
            format: double
        - name: include_markets
          in: query
          required: false
          description: Include constituent markets in the response (default false).
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          required: false
          description: Results per page (default 50, max 100).
          schema:
            type: integer
            format: int32
            default: 50
            minimum: 1
            maximum: 100
        - name: cursor
          in: query
          required: false
          description: Pagination cursor (offset-based).
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"

  /api/v1/ws/usage:
    get:
      operationId: getWsUsage
      tags:
        - WebSocket
      summary: Get WebSocket usage telemetry
      description: Returns in-memory usage aggregates for the authenticated customer (or globally for admin keys).
      parameters:
        - name: scope
          in: query
          required: false
          description: '"self" (default) or "global" (admin only).'
          schema:
            type: string
            default: self
        - name: limit
          in: query
          required: false
          description: Max number of markets/customers returned (default 20; server clamps to 1..=100).
          schema:
            type: integer
            format: int32
            default: 20
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WsUsageResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/execution-price:
    get:
      operationId: getExecutionPrice
      tags:
        - Orderbook
      summary: Estimate execution price (VWAP) for an order
      description: |
        Walks the orderbook to estimate the volume-weighted average price (VWAP) for a
        hypothetical order of the given size. Does not place an order.
      parameters:
        - name: parsec_id
          in: query
          required: true
          description: Unified market ID in format `{exchange}:{native_id}`.
          schema:
            type: string
        - name: outcome
          in: query
          required: false
          description: |
            Outcome selector. For binary markets this is typically "yes" or "no" (case-insensitive).
            For categorical markets, this is required.
          schema:
            type: string
        - name: side
          in: query
          required: true
          description: Order side ("buy" or "sell").
          schema:
            type: string
            enum:
              - buy
              - sell
        - name: amount
          in: query
          required: true
          description: Order size in contracts.
          schema:
            type: number
            format: double
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionEstimateResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"

  /api/v1/orders:
    post:
      operationId: createOrder
      tags:
        - Orders
      summary: Create an order
      description: Creates a new order on the selected exchange.
      parameters:
        - name: exchange
          in: query
          required: true
          description: Exchange identifier (e.g., kalshi, polymarket).
          schema:
            type: string
        - $ref: "#/components/parameters/XExchangeCredentials"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "402":
          $ref: "#/components/responses/PaymentRequiredError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
    get:
      operationId: listOrders
      tags:
        - Orders
      summary: List open orders
      description: Lists open orders on the selected exchange.
      parameters:
        - name: exchange
          in: query
          required: true
          description: Exchange identifier (e.g., kalshi, polymarket).
          schema:
            type: string
        - name: market_id
          in: query
          required: false
          description: Optional market ID filter (exchange-native).
          schema:
            type: string
        - $ref: "#/components/parameters/XExchangeCredentials"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Order"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"

  /api/v1/orders/{order_id}:
    get:
      operationId: getOrder
      tags:
        - Orders
      summary: Get an order by ID
      description: Fetches a single order by ID from the selected exchange.
      parameters:
        - name: order_id
          in: path
          required: true
          description: Order ID.
          schema:
            type: string
        - name: exchange
          in: query
          required: true
          description: Exchange identifier (e.g., kalshi, polymarket).
          schema:
            type: string
        - $ref: "#/components/parameters/XExchangeCredentials"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"
    delete:
      operationId: cancelOrder
      tags:
        - Orders
      summary: Cancel an order by ID
      description: Cancels an order by ID on the selected exchange.
      parameters:
        - name: order_id
          in: path
          required: true
          description: Order ID.
          schema:
            type: string
        - name: exchange
          in: query
          required: true
          description: Exchange identifier (e.g., kalshi, polymarket).
          schema:
            type: string
        - $ref: "#/components/parameters/XExchangeCredentials"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"

  /api/v1/positions:
    get:
      operationId: listPositions
      tags:
        - Positions
      summary: List positions
      description: Lists positions for the authenticated customer on the selected exchange.
      parameters:
        - name: exchange
          in: query
          required: true
          description: Exchange identifier (e.g., kalshi, polymarket).
          schema:
            type: string
        - name: market_id
          in: query
          required: false
          description: Optional market ID filter (exchange-native).
          schema:
            type: string
        - $ref: "#/components/parameters/XExchangeCredentials"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Position"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"

  /api/v1/balance:
    get:
      operationId: getBalance
      tags:
        - Account
      summary: Get raw exchange balance
      description: Returns the raw balance payload from the exchange (opaque JSON).
      parameters:
        - name: exchange
          in: query
          required: true
          description: Exchange identifier (e.g., kalshi, polymarket).
          schema:
            type: string
        - name: refresh
          in: query
          required: false
          description: Refresh balance before returning (default false).
          schema:
            type: boolean
        - $ref: "#/components/parameters/XExchangeCredentials"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"

  /api/v1/ping:
    get:
      operationId: ping
      tags:
        - Account
      summary: Ping exchanges (balance check)
      description: Performs a lightweight balance fetch per exchange to verify connectivity/auth status.
      parameters:
        - name: exchange
          in: query
          required: false
          description: Optional exchange ID to ping; if omitted, pings all available exchanges.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PingResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/user-activity:
    get:
      operationId: getUserActivity
      tags:
        - Account
      summary: Get user activity (per-exchange)
      description: Fetches user activity data from each requested exchange and returns a per-exchange status map.
      parameters:
        - name: address
          in: query
          required: true
          description: User address (typically an EVM address).
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Max number of items per exchange (default 100).
          schema:
            type: integer
            format: int32
            default: 100
            minimum: 1
        - name: exchanges
          in: query
          required: false
          description: |
            Exchanges to query (CSV). Defaults to: polymarket, opinion, limitless, predictfun.
            In SDKs this is typically an array encoded as CSV on the wire.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            default:
              - polymarket
              - opinion
              - limitless
              - predictfun
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserActivityResponseData"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/approvals:
    get:
      operationId: getApprovals
      tags:
        - Approvals
      summary: Check current token allowances (Polymarket only)
      description: Polymarket-only helper for checking on-chain allowances required for trading.
      parameters:
        - name: exchange
          in: query
          required: true
          description: Must be "polymarket".
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AllowanceStatus"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
    post:
      operationId: setApprovals
      tags:
        - Approvals
      summary: Set token approvals (Polymarket only)
      description: Polymarket-only helper for submitting approval transactions.
      parameters:
        - name: exchange
          in: query
          required: true
          description: Must be "polymarket".
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApprovalRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /api/v1/wallet:
    x-internal: true
    post:
      operationId: registerWallet
      tags:
        - Wallet
      summary: Register a managed wallet
      description: Creates a server-side wallet managed by Parsec via Privy. Idempotent — calling again returns the existing wallet.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterWalletResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      operationId: getWalletState
      tags:
        - Wallet
      summary: Get wallet state
      description: Returns the current state of the managed wallet, session signer, and linked exchanges.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletStateResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/link:
    x-internal: true
    post:
      operationId: linkExchange
      tags:
        - Wallet
      summary: Link a managed wallet to an exchange
      description: |
        Links the managed wallet to the specified exchange. Currently supports Polymarket only.
        Performs session signer grant, CLOB credential derivation, and token approvals in one call.
      parameters:
        - name: exchange
          in: query
          required: true
          description: Exchange to link (currently only "polymarket").
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/credentials:
    put:
      operationId: updateCredentials
      tags:
        - Account
      summary: Update exchange credentials for the authenticated API key
      description: Updates stored credentials for this API key. Returns 204 on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCredentialsRequest"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/billing/checkout:
    post:
      operationId: createCheckoutSession
      x-internal: true
      tags:
        - Billing
      summary: Create a Stripe Checkout session for tier upgrade
      description: |
        Creates a Stripe Checkout session that redirects the user to Stripe's
        hosted payment page. Requires authentication.
        Returns 400 if the user is already on the target tier or higher.
      parameters:
        - name: tier
          in: query
          required: false
          schema:
            type: string
            enum: [pro, scale]
            default: pro
          description: Target tier to upgrade to.
        - name: billing_period
          in: query
          required: false
          schema:
            type: string
            enum: [monthly, yearly, annual]
            default: monthly
          description: "Billing period for the subscription. `yearly` and `annual` are synonyms. Yearly plans include a 20% discount. If a yearly price is not configured for the target tier, falls back to monthly."
      responses:
        "200":
          description: Checkout session URL
          content:
            application/json:
              schema:
                type: object
                required:
                  - url
                properties:
                  url:
                    type: string
                    format: uri
                    description: Stripe Checkout URL to redirect the user to.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "503":
          $ref: "#/components/responses/ServiceUnavailableError"

  /webhook/stripe:
    post:
      operationId: stripeWebhook
      x-internal: true
      tags:
        - Billing
      summary: Stripe webhook endpoint
      description: |
        Receives Stripe webhook events for subscription lifecycle management.
        Handles invoice.paid (upgrade), customer.subscription.updated (status changes),
        and customer.subscription.deleted (downgrade). Unauthenticated — verified
        via Stripe-Signature header.
      security: []
      responses:
        "200":
          description: Event received
        "401":
          description: Invalid or missing Stripe signature

  /api/v1/auth/siwe/nonce:
    get:
      operationId: getSiweNonce
      tags:
        - Authentication
      summary: Get a one-time nonce for SIWE authentication
      description: |
        Returns a random 32-character hex nonce for use in a SIWE (Sign-In With
        Ethereum) authentication message. Valid for 5 minutes, single-use.
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiweNonceResponse"

  /api/v1/auth/siwe:
    post:
      operationId: siweAuthenticate
      tags:
        - Authentication
      summary: Authenticate with a signed SIWE message
      description: |
        Verifies a signed EIP-4361 SIWE message and returns an API key.
        Idempotent — the same wallet always receives the same API key.
        Creates a new user on first authentication.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiweAuthenticateRequest"
      responses:
        "200":
          description: Returning user (idempotent)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiweAuthenticateResponse"
        "201":
          description: New user created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiweAuthenticateResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  responses:
    BadRequestError:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    PaymentRequiredError:
      description: Payment required / insufficient funds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ForbiddenError:
      description: Forbidden (credentials/authorization issue)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFoundError:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TooManyRequestsError:
      description: "Rate limit exceeded. Includes Retry-After header (seconds) plus tier and limit_qps fields in the JSON body. Free: 10 req/sec, Pro: 60 req/sec (120 burst), Scale: 200 req/sec (400 burst)."
      headers:
        Retry-After:
          description: Seconds until the next request is allowed
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotImplementedError:
      description: Not implemented / not supported
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServiceUnavailableError:
      description: Service unavailable (upstream exchange/network issue)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    ErrorResponse:
      type: object
      required:
        - error
        - code
        - retryable
      properties:
        error:
          type: string
          description: Human-readable error message.
        code:
          type: string
          description: Machine-readable error code.
          enum:
            - unauthorized
            - exchange_not_found
            - credentials_required
            - authentication_failed
            - missing_parameter
            - market_not_found
            - order_not_found
            - bad_request
            - internal_error
            - not_supported
            - insufficient_funds
            - rate_limit_exceeded
            - service_unavailable
            - not_found
        retryable:
          type: boolean
          description: Whether the request can be retried.
        tier:
          type: string
          description: Customer tier. Present on 429 rate limit responses.
        limit_qps:
          type: integer
          description: QPS limit for the customer's tier. Present on 429 rate limit responses.

    Outcome:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Outcome label (e.g., "Yes", "No", or a categorical name).
        price:
          type: number
          description: Last known price for this outcome (normalized 0.0-1.0).
        token_id:
          type: string
          description: Exchange-native token ID for this outcome.

    Market:
      type: object
      required:
        - parsec_id
        - parsec_group_id
        - exchange
        - exchange_market_id
        - exchange_group_id
        - question
        - group_title
        - status
        - market_type
        - outcomes
        - volume_total
      properties:
        parsec_id:
          type: string
          description: Primary key in format `{exchange}:{native_id}`.
        parsec_group_id:
          type: string
          description: Parsec group ID for cross-exchange event grouping.
        exchange:
          type: string
        exchange_market_id:
          type: string
          description: Native exchange market ID.
        exchange_group_id:
          type: string
          description: Source-native exchange event/group ID.
        slug:
          type: string
        url:
          type: string
          description: Direct URL to the market on the exchange.
        question:
          type: string
          description: Market question text.
        description:
          type: string
          description: Detailed market description.
        rules:
          type: string
          description: Market resolution rules.
        group_title:
          type: string
          description: Title of the group/event this market belongs to.
        status:
          type: string
          description: "Market status. Common values: active, closed, resolved, archived."
        market_type:
          type: string
          description: "Market type (e.g., binary, categorical)."
        outcome_count:
          type: integer
          format: int32
          description: Number of outcomes in this market.
        outcomes:
          type: array
          items:
            $ref: "#/components/schemas/Outcome"
          description: Market outcomes with optional price and token ID.
        best_bid:
          type: number
          description: Best bid price (normalized 0.0-1.0).
        best_ask:
          type: number
          description: Best ask price (normalized 0.0-1.0).
        last_price:
          type: number
          description: Last traded price (normalized 0.0-1.0).
        volume_total:
          type: number
          format: double
          description: Total trading volume (USDC).
        volume_24h:
          type: number
          format: double
          description: 24-hour trading volume (USDC).
        liquidity:
          type: number
          format: double
          description: Current liquidity (USDC).
        open_interest:
          type: number
          format: double
          description: Current open interest (contracts/pairs).
        min_order_size:
          type: number
          format: double
          description: Minimum order size in contracts. Varies per market on Polymarket (e.g. 5, 15); typically 1 on Kalshi.
        tick_size:
          type: number
          format: double
          description: Minimum price increment for orders on this market.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
          description: Market end/close date.
        event_start_time:
          type: string
          format: date-time
          description: Event start time.
        condition_id:
          type: string
          description: Exchange-native condition ID.
        xref:
          type: object
          additionalProperties: true
          description: Cross-reference data (exchange-specific metadata).
        collection_date:
          type: string
          format: date-time
          description: Date when this market was first collected.
        last_collected:
          type: string
          format: date-time
          description: Date of last data collection.

    PaginationInfo:
      type: object
      required:
        - count
        - total
        - has_more
      properties:
        count:
          type: integer
          format: int32
          description: Number of items in this response.
        total:
          type: integer
          format: int32
          description: Total number of items matching the filters (before pagination).
        has_more:
          type: boolean
          description: True if there are more results.
        next_cursor:
          type: string
          description: Cursor for the next page (offset-based).

    EventSummary:
      type: object
      required:
        - event_id
        - title
        - market_count
        - total_volume
        - exchanges
        - status
      properties:
        event_id:
          type: string
          description: Canonical Parsec event ID.
        title:
          type: string
          description: Event title (derived from shortest constituent market title).
        market_count:
          type: integer
          description: Number of markets in this event.
        total_volume:
          type: number
          format: double
          description: Sum of volume across all markets in this event.
        exchanges:
          type: array
          items:
            type: string
          description: Deduplicated list of exchanges with markets in this event.
        status:
          type: string
          description: "Event status. Common values: active, closed, resolved, archived."
        close_time:
          type: string
          format: date-time
          description: Earliest close time across constituent markets.
        markets:
          type: array
          items:
            $ref: "#/components/schemas/Market"
          description: Constituent markets (only included when `include_markets=true`).

    EventsResponse:
      type: object
      required:
        - events
        - pagination
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/EventSummary"
        pagination:
          $ref: "#/components/schemas/PaginationInfo"

    MarketsResponse:
      type: object
      required:
        - markets
        - pagination
      properties:
        markets:
          type: array
          items:
            $ref: "#/components/schemas/Market"
        pagination:
          $ref: "#/components/schemas/PaginationInfo"

    BalanceResponse:
      type: object
      required:
        - raw
      properties:
        raw:
          type: object
          additionalProperties: true

    PingResponse:
      type: object
      required:
        - exchange
        - has_credentials
        - authenticated
        - message
      properties:
        exchange:
          type: string
        has_credentials:
          type: boolean
        authenticated:
          type: boolean
        message:
          type: string

    OrderbookLevel:
      type: array
      description: "[price, size] tuple"
      minItems: 2
      maxItems: 2
      prefixItems:
        - type: number
          description: Price
        - type: number
          description: Size
      items:
        type: number

    OrderbookResponse:
      type: object
      required:
        - parsec_id
        - exchange
        - outcome
        - token_id
        - market_id
        - bids
        - asks
      properties:
        parsec_id:
          type: string
        exchange:
          type: string
        outcome:
          type: string
        token_id:
          type: string
        market_id:
          type: string
        bids:
          type: array
          items:
            $ref: "#/components/schemas/OrderbookLevel"
        asks:
          type: array
          items:
            $ref: "#/components/schemas/OrderbookLevel"
        timestamp:
          type:
            - string
            - "null"
          format: date-time
        tick_size:
          type: number
          format: double
          description: Minimum price increment for orders on this market.
        min_order_size:
          type: number
          format: double
          description: Minimum order size in contracts.

    Candlestick:
      type: object
      required:
        - timestamp
        - open
        - high
        - low
        - close
        - volume
      properties:
        timestamp:
          type: string
          format: date-time
          description: Period start timestamp (UTC).
        open:
          type: number
          description: Open price (normalized 0.0-1.0).
        high:
          type: number
          description: High price (normalized 0.0-1.0).
        low:
          type: number
          description: Low price (normalized 0.0-1.0).
        close:
          type: number
          description: Close price (normalized 0.0-1.0).
        volume:
          type: number
          description: Trade volume in contracts.
        open_interest:
          type: number
          description: Open interest at this candle's close.

    PriceResponse:
      type: object
      required:
        - parsec_id
        - exchange
        - outcome
        - interval
        - candles
      properties:
        parsec_id:
          type: string
        exchange:
          type: string
        outcome:
          type: string
        interval:
          type: string
          enum:
            - "1m"
            - "1h"
            - "6h"
            - "1d"
            - "1w"
            - "max"
        candles:
          type: array
          items:
            $ref: "#/components/schemas/Candlestick"

    MarketTrade:
      type: object
      required:
        - price
        - size
        - timestamp
        - source_channel
      properties:
        id:
          type: string
        price:
          type: number
          description: Trade price (normalized 0.0-1.0).
        size:
          type: number
          description: Trade size in contracts.
        side:
          type: string
          description: Trade side (typically "buy" or "sell").
        aggressor_side:
          type: string
          description: Aggressor side (typically "buy" or "sell").
        timestamp:
          type: string
          format: date-time
        source_channel:
          type: string
        tx_hash:
          type: string
          nullable: true
          description: Transaction hash (Polymarket only).
        outcome:
          type: string
          nullable: true
          description: Trade outcome side (e.g. "Yes", "No", "yes", "no").
        yes_price:
          type: number
          nullable: true
          description: YES-side price from exchange data (never derived). May be null if the trade was on the NO side.
        no_price:
          type: number
          nullable: true
          description: NO-side price from exchange data (never derived). May be null if the trade was on the YES side.
        taker_address:
          type: string
          nullable: true
          description: Taker wallet address (Polymarket proxy_wallet). Null for exchanges that don't expose this.

    TradesResponse:
      type: object
      required:
        - parsec_id
        - exchange
        - outcome
        - token_id
        - market_id
        - trades
      properties:
        parsec_id:
          type: string
        exchange:
          type: string
        outcome:
          type: string
        token_id:
          type: string
        market_id:
          type: string
        trades:
          type: array
          items:
            $ref: "#/components/schemas/MarketTrade"
        has_more:
          type: boolean
          description: "True if there are more results available"
        next_cursor:
          type: string
          nullable: true
    OrderbookSnapshotDto:
      type: object
      required:
        - timestamp
        - bids
        - asks
      properties:
        timestamp:
          type: string
          format: date-time
        recorded_at:
          type: string
          format: date-time
          nullable: true
        hash:
          type: string
          nullable: true
        bids:
          type: array
          items:
            type: array
            items:
              type: number
            minItems: 2
            maxItems: 2
        asks:
          type: array
          items:
            type: array
            items:
              type: number
            minItems: 2
            maxItems: 2
    OrderbookHistoryResult:
      type: object
      required:
        - parsec_id
        - exchange
        - outcome
        - token_id
        - market_id
        - snapshots
        - has_more
      properties:
        parsec_id:
          type: string
        exchange:
          type: string
        outcome:
          type: string
        token_id:
          type: string
        market_id:
          type: string
        snapshots:
          type: array
          items:
            $ref: "#/components/schemas/OrderbookSnapshotDto"
        has_more:
          type: boolean
        next_cursor:
          type: string
        tick_size:
          type: number
        min_order_size:
          type: number
    WsCustomerUsageResponse:
      type: object
      required:
        - customer_id
        - active_connections
        - active_subscriptions
        - connections_opened_total
        - connections_closed_total
        - auth_failures_total
        - subscribe_requests_total
        - unsubscribe_requests_total
        - messages_sent_total
        - bytes_sent_total
      properties:
        customer_id:
          type: string
        active_connections:
          type: integer
          format: int64
        active_subscriptions:
          type: integer
          format: int64
        connections_opened_total:
          type: integer
          format: int64
        connections_closed_total:
          type: integer
          format: int64
        auth_failures_total:
          type: integer
          format: int64
        subscribe_requests_total:
          type: integer
          format: int64
        unsubscribe_requests_total:
          type: integer
          format: int64
        messages_sent_total:
          type: integer
          format: int64
        bytes_sent_total:
          type: integer
          format: int64

    WsUsageTotalsResponse:
      type: object
      required:
        - active_connections
        - active_subscriptions
        - connections_opened_total
        - connections_closed_total
        - auth_failures_total
        - subscribe_requests_total
        - unsubscribe_requests_total
        - messages_sent_total
        - bytes_sent_total
      properties:
        active_connections:
          type: integer
          format: int64
        active_subscriptions:
          type: integer
          format: int64
        connections_opened_total:
          type: integer
          format: int64
        connections_closed_total:
          type: integer
          format: int64
        auth_failures_total:
          type: integer
          format: int64
        subscribe_requests_total:
          type: integer
          format: int64
        unsubscribe_requests_total:
          type: integer
          format: int64
        messages_sent_total:
          type: integer
          format: int64
        bytes_sent_total:
          type: integer
          format: int64

    WsMarketUsageResponse:
      type: object
      required:
        - parsec_id
        - subscriptions_total
      properties:
        parsec_id:
          type: string
        subscriptions_total:
          type: integer
          format: int64

    WsUsageResponse:
      type: object
      required:
        - scope
        - updated_at_ms
        - totals
        - customers
        - top_markets
      properties:
        scope:
          type: string
        updated_at_ms:
          type: integer
          format: int64
        totals:
          $ref: "#/components/schemas/WsUsageTotalsResponse"
        customer:
          $ref: "#/components/schemas/WsCustomerUsageResponse"
        customers:
          type: array
          items:
            $ref: "#/components/schemas/WsCustomerUsageResponse"
        top_markets:
          type: array
          items:
            $ref: "#/components/schemas/WsMarketUsageResponse"

    OrderType:
      type: string
      description: |
        Order time-in-force / execution type. Passed via `params.order_type` in CreateOrderRequest.
      enum:
        - gtc
        - ioc
        - fok

    OrderSide:
      type: string
      enum:
        - buy
        - sell

    OrderStatus:
      type: string
      enum:
        - pending
        - open
        - filled
        - partially_filled
        - cancelled
        - rejected

    Order:
      type: object
      required:
        - id
        - market_id
        - outcome
        - side
        - price
        - size
        - filled
        - status
        - created_at
      properties:
        id:
          type: string
        market_id:
          type: string
        outcome:
          type: string
        side:
          $ref: "#/components/schemas/OrderSide"
        price:
          type: number
        size:
          type: number
        filled:
          type: number
        status:
          $ref: "#/components/schemas/OrderStatus"
        created_at:
          type: string
          format: date-time
        updated_at:
          type:
            - string
            - "null"
          format: date-time

    Position:
      type: object
      required:
        - market_id
        - outcome
        - size
        - average_price
        - current_price
      properties:
        market_id:
          type: string
        outcome:
          type: string
        size:
          type: number
        average_price:
          type: number
        current_price:
          type: number

    CreateOrderRequest:
      type: object
      required:
        - market_id
        - outcome
        - side
        - price
        - size
      properties:
        market_id:
          type: string
        outcome:
          type: string
        side:
          $ref: "#/components/schemas/OrderSide"
        price:
          type: number
        size:
          type: number
        params:
          type: object
          additionalProperties:
            type: string
          default: {}
          description: |
            Optional key-value parameters. Supported keys:
            - `order_type`: Order time-in-force. Values: `gtc` (default), `ioc`, `fok`. Unsupported types return 501 per exchange.
        credentials:
          $ref: "#/components/schemas/RequestCredentials"

    RequestCredentials:
      type: object
      description: |
        Per-request exchange credentials (Mode B). When provided, Parsec creates a transient
        exchange session instead of using stored credentials. Credentials are never persisted.
      properties:
        api_key_id:
          type: string
          description: Kalshi API key ID.
        private_key:
          type: string
          description: Kalshi RSA private key (PEM format).
        clob_api_key:
          type: string
          description: Polymarket CLOB API key.
        clob_api_secret:
          type: string
          description: Polymarket CLOB API secret.
        clob_api_passphrase:
          type: string
          description: Polymarket CLOB API passphrase.

    UpdateCredentialsRequest:
      type: object
      properties:
        api_key_id:
          type:
            - string
            - "null"
          description: Kalshi API key ID.
        private_key:
          type:
            - string
            - "null"
          description: Kalshi RSA private key (PEM format).
        clob_api_key:
          type:
            - string
            - "null"
          description: Polymarket CLOB API key.
        clob_api_secret:
          type:
            - string
            - "null"
          description: Polymarket CLOB API secret.
        clob_api_passphrase:
          type:
            - string
            - "null"
          description: Polymarket CLOB API passphrase.

    ExchangeStatus:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
        error:
          type: string

    UserActivityResponseData:
      type: object
      required:
        - exchanges
        - status
      properties:
        exchanges:
          type: object
          additionalProperties: true
        status:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ExchangeStatus"

    ApprovalTarget:
      type: string
      enum:
        - ctf_exchange
        - neg_risk_ctf_exchange
        - neg_risk_adapter

    TokenType:
      type: string
      enum:
        - usdc
        - ctf

    AllowanceStatus:
      type: object
      required:
        - token
        - target
        - approved
        - details
      properties:
        token:
          $ref: "#/components/schemas/TokenType"
        target:
          $ref: "#/components/schemas/ApprovalTarget"
        approved:
          type: boolean
        details:
          type: string

    ApprovalRequest:
      type: object
      properties:
        all:
          type: boolean
          default: false
        usdc:
          type: boolean
          default: false
        ctf:
          type: boolean
          default: false
        usdc_neg_risk:
          type: boolean
          default: false
        ctf_neg_risk:
          type: boolean
          default: false

    ApprovalResult:
      type: object
      required:
        - token
        - target
        - tx_hash
        - success
      properties:
        token:
          $ref: "#/components/schemas/TokenType"
        target:
          $ref: "#/components/schemas/ApprovalTarget"
        tx_hash:
          type:
            - string
            - "null"
        success:
          type: boolean
        error:
          type: string
          description: Error message, omitted on success.

    ApprovalResponse:
      type: object
      required:
        - results
        - all_succeeded
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/ApprovalResult"
        all_succeeded:
          type: boolean

    CapabilityMap:
      type: object
      required:
        - fetch_markets
        - create_order
        - cancel_order
        - fetch_positions
        - fetch_balance
        - fetch_orderbook
        - fetch_price_history
        - fetch_trades
        - fetch_events
        - fetch_user_activity
        - approvals
        - refresh_balance
        - websocket
        - fetch_orderbook_history
        - fetch_fills
      properties:
        fetch_markets:
          type: boolean
        create_order:
          type: boolean
        cancel_order:
          type: boolean
        fetch_positions:
          type: boolean
        fetch_balance:
          type: boolean
        fetch_orderbook:
          type: boolean
        fetch_price_history:
          type: boolean
        fetch_trades:
          type: boolean
        fetch_events:
          type: boolean
        fetch_user_activity:
          type: boolean
        approvals:
          type: boolean
        refresh_balance:
          type: boolean
        websocket:
          type: boolean
        fetch_orderbook_history:
          type: boolean
        fetch_fills:
          type: boolean

  # Note: fetch_fills is not yet enabled on any exchange. Listed for forward-compat.

    ExchangeCapability:
      type: object
      required:
        - id
        - name
        - has
      properties:
        id:
          type: string
          description: Exchange identifier (e.g., "polymarket", "kalshi").
        name:
          type: string
          description: Human-readable exchange name.
        has:
          $ref: "#/components/schemas/CapabilityMap"

    ExecutionEstimateResponse:
      type: object
      required:
        - total_cost
        - filled_amount
        - fully_filled
        - levels_consumed
      properties:
        avg_price:
          type:
            - number
            - "null"
          description: Volume-weighted average execution price (null if no liquidity).
        total_cost:
          type: number
          format: double
          description: Total cost of the filled portion.
        filled_amount:
          type: number
          format: double
          description: Number of contracts that would be filled.
        fully_filled:
          type: boolean
          description: True if the entire requested amount can be filled.
        slippage:
          type:
            - number
            - "null"
          description: Price impact vs best price (null if no liquidity).
        levels_consumed:
          type: integer
          format: int32
          description: Number of orderbook levels consumed.
        worst_price:
          type:
            - number
            - "null"
          description: Price of the last consumed orderbook level (worst fill price). Null if no liquidity.
        fee_estimate:
          type:
            - number
            - "null"
          description: Estimated exchange fee (null when fee rate is unknown).
        net_cost:
          type:
            - number
            - "null"
          description: Total cost including fees (total_cost + fee_estimate). Null when fee rate is unknown.

    RegisterWalletResponse:
      type: object
      required:
        - eoa_address
        - privy_wallet_id
      properties:
        eoa_address:
          type: string
          description: EVM wallet address on Polygon.
        privy_wallet_id:
          type: string
          description: Privy wallet identifier.

    WalletInfo:
      type: object
      required:
        - eoa_address
        - privy_wallet_id
      properties:
        eoa_address:
          type: string
          description: EVM wallet address on Polygon.
        privy_wallet_id:
          type: string
          description: Privy wallet identifier.
        created_at:
          type: string
          format: date-time
          description: Wallet creation timestamp.

    SessionSignerInfo:
      type: object
      required:
        - active
      properties:
        active:
          type: boolean
          description: Whether the session signer is currently active.
        expires_at:
          type:
            - string
            - "null"
          format: date-time
          description: Session signer expiration timestamp.
        signer_id:
          type:
            - string
            - "null"
          description: Session signer identifier.

    ExchangeLinkInfo:
      type: object
      required:
        - exchange
        - has_credentials
      properties:
        exchange:
          type: string
          description: Exchange identifier.
        has_credentials:
          type: boolean
          description: Whether credentials are stored for this exchange.

    WalletStateResponse:
      type: object
      properties:
        wallet:
          $ref: "#/components/schemas/WalletInfo"
        session_signer:
          $ref: "#/components/schemas/SessionSignerInfo"
        linked_exchanges:
          type: array
          items:
            $ref: "#/components/schemas/ExchangeLinkInfo"

    LinkResponse:
      type: object
      required:
        - exchange
        - status
        - linked_exchanges
      properties:
        exchange:
          type: string
          description: Exchange that was linked.
        status:
          type: string
          description: Link status (e.g., "linked").
        wallet_address:
          type:
            - string
            - "null"
          description: Wallet address used for the link.
        linked_exchanges:
          type: array
          items:
            type: string
          description: Updated list of all linked exchange identifiers.

    SiweNonceResponse:
      type: object
      required:
        - nonce
      properties:
        nonce:
          type: string
          description: A 32-character hex nonce. Valid for 5 minutes, single-use.
          example: "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"

    SiweAuthenticateRequest:
      type: object
      required:
        - message
        - signature
      properties:
        message:
          type: string
          description: |
            The full EIP-4361 SIWE message text. Must include a valid Nonce from
            GET /auth/siwe/nonce and an Issued At timestamp within 5 minutes.
        signature:
          type: string
          description: |
            EIP-191 personal_sign signature of the message, hex-encoded with 0x prefix.
          example: "0x1234567890abcdef..."

    SiweAuthenticateResponse:
      type: object
      required:
        - api_key
        - customer_id
        - wallet_address
        - is_new
      properties:
        api_key:
          type: string
          description: Parsec API key (pk_live_...). Use in X-API-Key header.
          example: "pk_live_abc123def456abc123def456abc12345"
        customer_id:
          type: string
          description: Unique customer identifier (UUID).
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        wallet_address:
          type: string
          description: The authenticated Ethereum address, lowercased.
          example: "0xab5801a7d398351b8be11c439e05c5b3259aec9b"
        is_new:
          type: boolean
          description: True if first-time registration, false if returning user.

  parameters:
    XExchangeCredentials:
      name: X-Exchange-Credentials
      in: header
      required: false
      description: |
        Base64-encoded JSON of per-request exchange credentials (Mode B).
        When provided, Parsec creates a transient exchange session instead of using stored credentials.
        The JSON shape matches the RequestCredentials schema.
      schema:
        type: string
